<!--<p>vacancy-details works!</p>-->
<div class="container" >
  <div class="row"><app-nav-panel></app-nav-panel></div>
 <div class="row row-top-matgin-details " >
   <div class="col-sm-2">
     <!--пусто-->
   </div>
   <div class="col-sm-10">
     <div class="row" >

       <div class="col-sm-3" >
         <p class="text-info" > Компанія: </p>
         <p class="text-info" > Посада: </p>
         <p class="text-info" > Місто: </p>
         <p class="text-info" > Мова програмування: </p>
         <p class="text-info" > Дата:  </p>
       </div>
       <div class="col-sm-9" >
         <p>{{vacancy.company}}</p>
         <p>{{vacancy.position}}</p>
         <p>{{vacancy.sity}}</p>
         <p>{{vacancy.language}}</p>
         <p>{{vacancy.vacancyDetails.date}}</p>
       </div>
     </div>
     <div class="row box-margin-top" >
       <b>Детальний опис Вакансії</b>
       <br>
       <div *ngFor="let det of vacancy.vacancyDetails.listDetails">
         <p class="text-justify text-styles">{{det}}</p>
         <!--<br style="margin-bottom: 20px;">-->
       </div>
     </div>
     <div class="row"><a href= {{vacancy.urlSourse}}> Джерело вакансії </a> </div>
   </div>
 </div>
  <div class="row-top-matgin-details row">
    <app-footer></app-footer>
  </div>

</div>




<!--<h1>Vacancy Detail</h1>-->
<!--<p>{{vacancy.id}}</p>-->
<!--<p>{{vacancy.site}}</p>-->
<!--<p>{{vacancy.company}}</p>-->
<!--<p>{{vacancy.position}}</p>-->
<!--<p>{{vacancy.sity}}</p>-->
<!--<p>{{vacancy.language}}</p>-->
<!--<p>{{vacancy.info}}</p>-->
<!--<p>{{vacancy.vacancyDetails.date}}</p>-->
<!--<div *ngFor="let det of vacancy.vacancyDetails.listDetails">-->
<!--{{det}}-->
<!--</div>-->


